body, h1, h2, p1, p2, ul {
    margin: 0;
    padding: 0;
}
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7ED4F4;
    font-family: Monserrat, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    height: 100%;
    overflow-x: hidden;
    margin: auto;

}

header {
    background-color: #7EA8F4;
    text-align: center;
    font-family: Lato, serif;
    font-size: 30px;
    max-width: 100%;
    color: #4c177a;
/*    padding: 20px;*/
}
iframe.container {
    position: center;
  overflow: hidden;
  max-width: 100%;
  padding-top: 56.25%; 
}


}
p1 {
    background-color: #7EA8F4;
    text-align: center;
    font-family: Lato, serif;
    font-size: 20px;
    width: 100%;
    color: #4c177a;
}

nav {
    margin: 25px 0;
    text-align: center;
}


nav ul {
    list-style-type: none;
    display: inline;
}

nav li {
    list-style-type: none;
    margin: 8 px 0;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    background-color: #BDBFF2;
    color: #4c177a;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: center !important;
    justify-content: center;
}

nav a:hover { text-decoration: none; }

main {
    text-align: center;
    background-color: #ffd8e9;
    max-width: 100%;
    color: #4c177a;
    border: none;
/*    padding: 20px;*/
    font-family: Quicksand, sans-serif;
    font-size: 20px;
}

h2 {  
    background-color: #CBC3E3;
    text-align: center;
    font-family: Lato, serif;
    font-size: 30px;
    width: 100%;
    color: #4c177a;
    setting overflow-x: hidden;
}



footer {
    margin-top: auto;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 100%;
}


@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}
