body, h1, h2, p1, p2, ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7ED4F4;
    font-family: Monserrat, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

header {
    background-color: #7EA8F4;
    text-align: center;
    font-family: Lato, serif;
    font-size: 30px;
    width: 100%;
    color: #4c177a;
    padding: 20px;
}
p1 {
    background-color: #7EA8F4;
    text-align: center;
    font-family: Lato, serif;
    font-size: 20px;
    width: 100%;
    color: #4c177a;
    padding: 20px;
}

p2 {
    background-color: #7EA8F4;
    text-align: center;
    font-family: Lato, serif;
    font-size: 20px;
    width: 100%;
    color: #4c177a;
    padding: 10px;
}

nav {
    margin: 25px 0;
    text-align: center;
    background-color: #8689F3;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: 10 px 0;
}

nav a {
    text-decoration: none;
    background-color: #BDBFF2;
    color: #4c177a;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: center !important;
    justify-content: center;
}

nav a:hover { text-decoration: none; }

main {
    text-align: center;
    background-color: #ffd8e9;
    width: 100%;
    color: #4c177a;
    border: none;
    padding: 0px;
    font-family: Quicksand, sans-serif;
    font-size: 25px;
}

h2 { 
    background-color: #CBC3E3;
    text-align: center;
    font-family: Lato, serif;
    font-size: 30px;
    width: 100%;
    color: #4c177a;
    padding: 20px;
}

main img {
    border: none;
    width: 400px;
    height: auto;
}

footer {
    margin-top: auto;
    background-color: #EEBDF2;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    width: 100%;
}


@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 555px) {
            body {
                background-color: #7ED4F4;
            }
        }
@media (min-width: 800px) {
            body {
                background-color: #7ED4F4;
            }
        }
